@model IEnumerable<MoneyExchangeConverter.Models.ExchangeRequest>

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "История";
}

<h1>История</h1>

@if (!Model.Any())
{
    <p>В истории нет записей</p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FromCurrency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToCorrency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromCurrency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToCorrency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <input type="button" value="Очистить" onclick="location.href='@Url.Action("clean", "history")'" />
    </p>
}


